In [1]:
a = 235467191
b = 453729.098876
c = 3+7j
d = 6j
e = -8706
f = -8.56

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'int'>
<class 'float'>

In [2]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
print(days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [5]:
word = 'word'
sentence = "This is sentence."
paragraph = """This is made up of multiple lines and sentences"""
print(word)
print(sentence)
print(paragraph)

word
This is sentence.
This is made up of multiple lines and sentences

In [6]:
a,*b=[1,2,3,4,5,6,7,8,9]
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

In [8]:
#string operations
str = 'Hello world'
print(str) #prints complete string
print(str[0]) #prints first character of the string
print(str[2:5]) #print characters starting from 3rd to fifth
print(str[2:]) #print string starting with 3rd character
print(str *5)
print(str + "Good morning")

Hello world
H
llo
llo world
Hello worldHello worldHello worldHello worldHello world
Hello worldGood morning

In [9]:
#List operations
list = ['abcd',786,2.22,'india',70.2]
tinylist = [123,'PathToLearn']
print(list)
print(list[4])
print(list[1:3]) #print elements starting from 2nd till 3rd
print(list[2:]) #print elements starting from 3rd element
print(tinylist * 2)
print(list + tinylist)
print(list[:3])
list.append('New_item')
print(list)
list[1] = 'changed'

['abcd', 786, 2.22, 'india', 70.2]
70.2
[786, 2.22]
[2.22, 'india', 70.2]
[123, 'PathToLearn', 123, 'PathToLearn']
['abcd', 786, 2.22, 'india', 70.2, 123, 'PathToLearn']
['abcd', 786, 2.22]
['abcd', 786, 2.22, 'india', 70.2, 'New_item']

In [14]:
#Tuple operations
tuple = ('abcd',786,2.23,'john',70.3)
tinytuple = (123,'john')
print(tuple) #prints complete list
print(tuple[0]) #prints first element
print(tuple[1:3]) #print elements starting from 2nd till 3rd
print(tuple[2:]) #print elements starting from 2nd
print(tinytuple * 2)
print(tuple + tinytuple)
#tuple.append('new') #'tuple' object has no attribute 'append'
#print(tuple)
#tuple[2]='67'
print(tuple)

('abcd', 786, 2.23, 'john', 70.3)
abcd
(786, 2.23)
(2.23, 'john', 70.3)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.3, 123, 'john')
('abcd', 786, 2.23, 'john', 70.3)

In [16]:
#dictionary operations
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
print(dict)

{'one': 'This is one', 2: 'This is two'}

In [20]:
tinydict = {'name':'lakshmi','code':6734,'dept':'sales'}
Ramesh={'place':'vijayawada','code':565581,'dept':'medical'}
print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys()) #print all keys
print(tinydict.values()) #print all values
print(Ramesh) #print complete dict
print(Ramesh.keys())
print(Ramesh.values())

This is one
This is two
{'name': 'lakshmi', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['lakshmi', 6734, 'sales'])
{'place': 'vijayawada', 'code': 565581, 'dept': 'medical'}
dict_keys(['place', 'code', 'dept'])
dict_values(['vijayawada', 565581, 'medical'])

In [22]:
#set operations
s1=set(['peacock','eagle','sparrow','pigeon','hummingbird','kokoo','crow','wood_pecker'])
s2=set(['peacock','pigeon','sparrow','tiger','lion','beer','cat','elephant','ant','horse'])
r1=s1|s2
r2=s1&s2
print(type(s1))
print("S2 type is:",type(s2))
print(r1)
print("Type of r1 is:",type(r1))
print()
print(r2)
print("Type of r2 is:",type(r2))

<class 'set'>
S2 type is: <class 'set'>
{'lion', 'wood_pecker', 'beer', 'elephant', 'crow', 'ant', 'peacock', 'cat', 'pigeon', 'kokoo', 'sparrow', 'tiger', 'horse', 'hummingbird', 'eagle'}
Type of r1 is: <class 'set'>

{'pigeon', 'sparrow', 'peacock'}
Type of r2 is: <class 'set'>

# Operators

In [23]:
#Arithmetic operator
a=10
b=5
x=7
y=3
print("Addition of a & b=",a+b)
print("Substraction=",a-b)
print("Multiplication=",a*b)
print("Exponent=",a**b)
print("Modulus =",x%y)
print('Floor Division=',x//y)
print("Division=",x/y)

Addition of a & b= 15
Substraction= 5
Multiplication= 50
Exponent= 100000
Modulus = 1
Floor Division= 2
Division= 2.3333333333333335

In [24]:
#comparison
a=25
b=15
print("The comparison values are =",a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

The comparison values are = False
True
True
False
True
False

In [25]:
#Assignment operator
p=15
q=3
r=p+q
print(r)
r+=q #this operation similar to r=r+q
print(r)
r-=q
print(r)
r*=q
print(r)
r/=q
print(r)
r**=q
print(r)
r%=q
print(r)
r//=q
print(r)

18
21
18
54
18.0
5832.0
0.0
0.0

In [27]:
#Bit wise operator
a=6
b=5
print("Bitwise AND =",a&b)
print("Bitwise OR =",a|b)
print("Bitwise XOR =",a^b)
print("Negate A =",~a)

Bitwise AND = 4
Bitwise OR = 7
Bitwise XOR = 3
Negate A = -7

# Time and Date

In [28]:
#import libraries
from math import ceil,sqrt,sin,cos,tanh,pi,floor,fabs
print(sqrt(16))
print(sin(0))
print(cos(0))
print(tanh(45))
print(pi)
print(sqrt(45))
print(ceil(45.037))
print(floor(67.983))
print(ceil(-3.75))
print(floor(-2.5))
print(ceil(4.04))
print(floor(4.04))
print(ceil(-4.04))
print(floor(-4.04))
print(fabs(-56.94))

4.0
0.0
1.0
1.0
3.141592653589793
6.708203932499369
46
67
-3
-3
5
4
-4
-5
56.94

In [29]:
import time
ticks = time.time() # using time() to display time since epoch
print ("Number of ticks: ", ticks)

localtime = time.localtime(time.time())
print ("Local current time :", localtime)
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Number of ticks:  1569697605.6123886
Local current time : time.struct_time(tm_year=2019, tm_mon=9, tm_mday=28, tm_hour=11, tm_min=6, tm_sec=45, tm_wday=5, tm_yday=271, tm_isdst=0)
Local current time : Sat Sep 28 11:06:45 2019

In [30]:
import calendar
cal =calendar.month(1990,4)
print ("Here is the calendar:")
print (cal)
c=calendar.firstweekday()
#c= dir(calendar)
print(c)
a=calendar.isleap(2018)
b=calendar.isleap(1983)
d=calendar.isleap(2000)
e=calendar.isleap(1984)
print(a)
print(b)
print(d)
print(e)
p=calendar.leapdays(1984,2018)
print(p)
q=calendar.nextmonth(2018,12)
print(q)
r=calendar.weekday(2018,12,21)
print(r)

Here is the calendar:
     April 1990
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

0
False
False
True
True
9
(2019, 1)
4

In [32]:
import math
content = dir(math)
print(content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

# Functions and Modules

In [33]:
def my_func():
    print("HI")
    print("HI")
    print("HI")
my_func()

HI
HI
HI

In [34]:
hello() #calling function before declaration
def hello():
    print("Hello World")

NameError: name 'hello' is not defined

In [35]:
def print_with_exclamation(word):
    print(word + "!")
print_with_exclamation("HAVE A")
print_with_exclamation("GOOD DAY")
print_with_exclamation("python")

HAVE A!
GOOD DAY!
python!

In [36]:
def print_sum_twice(x,y):
    print(x + y)
    print(x + y)
print_sum_twice(5,8)

13
13

In [38]:
def function(variable):
    variable +=1
    print(variable)
function(7)
print(variable)

8

NameError: name 'variable' is not defined

In [39]:
def max(x,y):
    if x>=y:
        return x
    else:
        return y
    
print(max(4,7))
z = max(8,5)
print(z)

7
8

In [40]:
def add_numbers(x, y):
  total = x + y
  return total
  print("This won't be printed")

print(add_numbers(4, 5))

9

# FUNCTIONS AS OBJECT

In [41]:
def multiply(x, y):
   return x * y

a = 4
b = 7
operation = multiply
print(operation(a, b))

28

In [42]:
def add(x, y):
  return x + y

def do_twice(func, x, y):
  return func(func(x, y), func(x, y))

a = 5
b = 10

print(do_twice(add, a, b))

30

# Modules

In [43]:
import random

for i in range(5):
   value = random.randint(1, 6)  
   print(value)

5
6
6
5
4

In [44]:
from math import pi

print(pi)

3.141592653589793

In [45]:
from math import sqrt as square_root
print(square_root(100))

10.0