list,tuple can concatinate
dictionary key() value() items()

In [2]:
tinydict = {'name': 'lakshmi','code':15896,'dept':'sales'}
ramesh = {'name': 'vijayawada','code':67859,'dept':'medical'}
print(tinydict)

{'name': 'lakshmi', 'code': 15896, 'dept': 'sales'}

In [3]:
print(ramesh)

{'name': 'vijayawada', 'code': 67859, 'dept': 'medical'}

In [4]:
print(tinydict.keys())

dict_keys(['name', 'code', 'dept'])

In [5]:
print(tinydict.values())

dict_values(['lakshmi', 15896, 'sales'])

In [6]:
print(tinydict.items())

dict_items([('name', 'lakshmi'), ('code', 15896), ('dept', 'sales')])

In [7]:
print(ramesh.values())
print(ramesh.keys())
print(ramesh.items())

dict_values(['vijayawada', 67859, 'medical'])
dict_keys(['name', 'code', 'dept'])
dict_items([('name', 'vijayawada'), ('code', 67859), ('dept', 'medical')])

In [8]:
list1 = ('asd',1212,'hdh')
print(tuple(list1))

('asd', 1212, 'hdh')

In [9]:
tuple1=('hello','hi','hiiii')
print(type(tuple1))

<class 'tuple'>

In [10]:
print(list(tuple1))

['hello', 'hi', 'hiiii']

## set operations

In [12]:
#set==inorder to avoid duplicate,
s1 = set(['peacock','eagle','sparrow','pigeon','hummingbird','kokoo','crow','wood_pecker'])
s2 = set(['peacock','pigeon','sparrow','tiger','lion','beer','cat','elephant','ant','horse'])
r1=s1|s2 #union
r1

{'ant',
 'beer',
 'cat',
 'crow',
 'eagle',
 'elephant',
 'horse',
 'hummingbird',
 'kokoo',
 'lion',
 'peacock',
 'pigeon',
 'sparrow',
 'tiger',
 'wood_pecker'}

In [13]:
r2=s1&s2 #intersection
r2

{'peacock', 'pigeon', 'sparrow'}

In [14]:
print(type(s1))

<class 'set'>

In [15]:
s1={1,'sad',23} #can use curly braces also
print(type(s1))

<class 'set'>

In [26]:
a=265949875
b=5214482.245521
c=3+7j,6j
e=6j
f=8.36
h=True

print(id(a))
print(a is b)
print(a is not b)
print(e in c)

2278439695600
False
True
True

In [30]:
a=6
b=5
print("Bitwise AND=",a&b)
print("Bitwise OR=",a|b)
print("Bitwise XOR=",a^b)
print("Negate of a",~a)

Bitwise AND= 4
Bitwise OR= 7
Bitwise XOR= 3
Negate of a -7

In [36]:
import time
ticks = time.time()
print("No of ticks:",ticks)

No of ticks: 1569010340.2565377

In [33]:
localtime = time.localtime(time.time())
print("LOcal current time:",localtime)

LOcal current time: time.struct_time(tm_year=2019, tm_mon=9, tm_mday=20, tm_hour=12, tm_min=10, tm_sec=48, tm_wday=4, tm_yday=263, tm_isdst=0)

In [35]:
localtime = time.asctime(time.localtime(time.time()))
print("Local current time:",localtime)

Local current time: Fri Sep 20 12:12:11 2019

In [38]:
import calendar as c
cal = c.month(2018,4)
print("Here is the calender:",cal)

Here is the calender:      April 2018
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [39]:
c.firstweekday()

0

In [41]:
a=c.isleap(2000)
b=c.isleap(1981)
d=c.isleap(2003)
print(a)
print(b)
print(d)

True
False
False

In [43]:
p = c.leapdays(1984,1984)
print(p)

0

In [44]:
q = c.nextmonth(2018,12)
print(q)

(2019, 1)

In [46]:
r = c.weekday(2019,3,4)
print(r)

0

In [50]:
s=dir(c)
print(len(s))

64

# functions

In [53]:
def fibonacci(N):
    L = []
    a,b = 0,1
    while len(L) < N:
        a,b = b,a+b
        L.append(a)
    return L

In [54]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [58]:
def real_img_conjugate(val):
    return val.real, val.imag, val.conjugate()

r,i,c = real_img_conjugate(3+4j)
print(r ,i , c)

3.0 4.0 (3-4j)

In [60]:
#default argument values

def fibonacci(N,a=0,b=1):
    L = []
    while len(L) < N:
        a,b = b,a+b
        L.append(a)
    return L

In [61]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [62]:
fibonacci(10,0,2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

## *args  **kwargs
 args means expand as sequnce kwargs expand as dictionary

In [63]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs =", kwargs)

In [64]:
catch_all(1,2,3,a=4,b=5)

args = (1, 2, 3)
kwargs = {'a': 4, 'b': 5}

In [65]:
catch_all('a',keyword=2)

args = ('a',)
kwargs = {'keyword': 2}

### annonumous(lambda)function

In [66]:

add = lambda x, y: x+y
add(1,2)

3

In [67]:
add(4+90,8+67)

169

In [68]:
def add(x,y): #this function is written in single line using lambda function
    return x+y

In [69]:
add(1,3)

4

In [74]:
data = [{'first':'Alan', 'last': 'Turing', 'YOB': 1912},
       {'first':'Grace', 'last': 'Hopper', 'YOB': 1986},
       {'first':'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [75]:
#sort by YOB
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1986}]

In [76]:
#sort by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1986},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [77]:
#enumeration

l1 = ['eat','sleep','repeat','bangalore','president','democracy','python','computer','program']

#creating enumerate objects
obj1 = enumerate(l1)

print("Return type: ",type(l1))
print(list(obj1))

Return type:  <class 'list'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat'), (3, 'bangalore'), (4, 'president'), (5, 'democracy'), (6, 'python'), (7, 'computer'), (8, 'program')]

In [78]:
s1 = "python with anaconda"
obj2 = enumerate(s1)

print("Return type: ",type(obj2))
print(list(obj2))

Return type:  <class 'enumerate'>
[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'), (6, ' '), (7, 'w'), (8, 'i'), (9, 't'), (10, 'h'), (11, ' '), (12, 'a'), (13, 'n'), (14, 'a'), (15, 'c'), (16, 'o'), (17, 'n'), (18, 'd'), (19, 'a')]

In [80]:
#program for sorted() function

a = [23,45,12,48,-12,3,9,100,500,150,-75,38,200,6.7]
v1=sorted(a,reverse=True)
v2=sorted(a,reverse=False)
print(v1)
print(v2)
type(v1)

[500, 200, 150, 100, 48, 45, 38, 23, 12, 9, 6.7, 3, -12, -75]
[-75, -12, 3, 6.7, 9, 12, 23, 38, 45, 48, 100, 150, 200, 500]

list

In [82]:
#program for sorted() function

s = ['48','3','9','100','500','150','adc','hello','array']
x1=sorted(s,reverse=True)
x2=sorted(s,reverse=False)
print(x1)
print(x2)
type(x1)

['hello', 'array', 'adc', '9', '500', '48', '3', '150', '100']
['100', '150', '3', '48', '500', '9', 'adc', 'array', 'hello']

list

In [83]:
p1 = ('deldi','hyderabad','bangalore','calicut','cochin','chennai') #list
p2 = ('01','02','03','04','05','06','07')
r=(zip(p1,p2))
print(type(r))
print("The  zipped list is: ",list(r))

<class 'zip'>
The  zipped list is:  [('deldi', '01'), ('hyderabad', '02'), ('bangalore', '03'), ('calicut', '04'), ('cochin', '05'), ('chennai', '06')]

In [84]:
s1 = {'deldi','hyderabad','bangalore','calicut','cochin','chennai'} #set
s2 = {'01','02','03','04','05','06','07'}
p=(zip(s1,s2))
print(type(p))
print("The  zipped list is: ",list(p))

<class 'zip'>
The  zipped list is:  [('chennai', '02'), ('deldi', '03'), ('calicut', '04'), ('cochin', '01'), ('bangalore', '05'), ('hyderabad', '07')]

In [85]:
#itertools modules

from itertools import count
for i in count(10):#temp=10; temp+=1;
    print(i)
    if i >=11:
        break

10
11

In [86]:
from itertools import accumulate

nums = list(accumulate(range(8)))
print(nums)

[0, 1, 3, 6, 10, 15, 21, 28]

In [88]:
from itertools import product, permutations

letters = ("A", "B", "C")
print(list(product(letters,range(2))))
print(list(permutations(letters)))

[('A', 0), ('A', 1), ('B', 0), ('B', 1), ('C', 0), ('C', 1)]
[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [91]:
print(list(permutations(range(3))))

[(0, 1, 2), (0, 2, 1), (1, 0, 2), (1, 2, 0), (2, 0, 1), (2, 1, 0)]

In [92]:
import itertools
n = len(dir(itertools))
print(n)
dir(itertools)

26

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_grouper',
 '_tee',
 '_tee_dataobject',
 'accumulate',
 'chain',
 'combinations',
 'combinations_with_replacement',
 'compress',
 'count',
 'cycle',
 'dropwhile',
 'filterfalse',
 'groupby',
 'islice',
 'permutations',
 'product',
 'repeat',
 'starmap',
 'takewhile',
 'tee',
 'zip_longest']