var_1 = 1
var_2 = 2.5
var_3 = 'c'
var_4 = 'shabin'

print(type(var_1))
print()
print(type(var_2))
print()
print(type(var_3))
print()
print(type(var_4))

In [14]:
a=20
print(a)
a='50'
print()
print(a)

20

50

In [15]:
round(2.48451)

2

In [17]:
round(-0987.45579621515,3) # after dot

-987.456

In [20]:
round(348481.85492,-3) # before dot

348000.0

In [21]:
# range function
a=range(10)
print(a)

range(0, 10)

In [24]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
rng=range(5,125,5)
list(rng)

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120]

In [34]:
str1='This is first string'
str2='This is second string'
str3='''Hi, good morning
this is third sentence,
a paragraph instead'''

print(str1)
print(str2)
print()
print(str3)

This is first string
This is second string

Hi, good morning
this is third sentence,
a paragraph instead

In [35]:
s1="This is python string operations we perform"
s1.endswith('perform')

True

In [37]:
s1.find('ons') # 'o' is on 29 th position

29

In [38]:
s1.index('py')

8

In [40]:
s1[::4]  #syntax is [start:stop:step] taking multiples of 4(position_value)

'T potgei po'

In [42]:
s1.split(' ') #splitting

['This', 'is', 'python', 'string', 'operations', 'we', 'perform']

In [43]:
s1.capitalize()

'This is python string operations we perform'

In [44]:
s1.lower()

'this is python string operations we perform'

In [45]:
s1.upper()

'THIS IS PYTHON STRING OPERATIONS WE PERFORM'

In [53]:
s2='And this is also concatinate with s1'
s1+s2+' also add this'

'This is python string operations we performAnd this is also concatinate with s1 also add this'

In [56]:
s3='i love data science...'
s3*4

'i love data science...i love data science...i love data science...i love data science...'

In [57]:
#list operations
animal=['tiger','lion','dog','cat','horse','leopard','bear']
print(type(animal))

<class 'list'>

In [66]:
print(animal[0:5])
print(animal[1:5])
print(animal[:4])
print(animal[5:])

['tiger', 'lion', 'dog', 'cat', 'horse']
['lion', 'dog', 'cat', 'horse']
['tiger', 'lion', 'dog', 'cat']
['leopard', 'bear', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow']

In [68]:
animal.append('cow')
print(animal)
print(animal[5:])

['tiger', 'lion', 'dog', 'cat', 'horse', 'leopard', 'bear', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow']
['leopard', 'bear', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow']

In [71]:
animal[2]='yack' #dog is replaced by yack
print(animal)

['tiger', 'lion', 'yack', 'cat', 'horse', 'leopard', 'bear', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow', 'cow']

In [77]:
#tuple creation
birds=('peacock','hen','kukoo','parrot','pigeon','squirel','hummingbird')
print(birds)
print(type(birds))
print(birds[2:6])
#birds.append('owl') #this will show error since tuple cannot be modified

('peacock', 'hen', 'kukoo', 'parrot', 'pigeon', 'squirel', 'hummingbird')
<class 'tuple'>
('kukoo', 'parrot', 'pigeon', 'squirel')

In [80]:
#dictionary
dictry=dict({'subject':['basics','fileI/O', 'DataClean','DataManip','Dataimport','DataAnalysis','Datavisualize','DataReport'],
            'application':['Netflix','Google','maths','Science','Flipcart','Amazon','ebay']})
print(type(dictry))

<class 'dict'>

In [81]:
print(dictry)

{'subject': ['basics', 'fileI/O', 'DataClean', 'DataManip', 'Dataimport', 'DataAnalysis', 'Datavisualize', 'DataReport'], 'application': ['Netflix', 'Google', 'maths', 'Science', 'Flipcart', 'Amazon', 'ebay']}

In [83]:
#Arithmetic
a=10
b=20
a1=a+b
print("a1=",a1)
print("a2=",a-b)
print("a3=",a*b)
print("a4=",a/b)

a1= 30
a2= -10
a3= 200
a4= 0.5

In [87]:
a=36
b=7
print("a5=",a/b)
print("a6=",a%b) #Modulas
print("a7=",a//b) #floor division (how many times it can divided)
print("a1=",a**b) #Exponent of a

a5= 5.142857142857143
a6= 1
a7= 5
a1= 78364164096

In [89]:
#Logical OPerations
a=5
b=4
print("Logical AND is", a&b) #operations performed on binary values
print("Logical OR is", a|b)
print("Negation of a", ~a)
print("Negation of b", ~b)

Logical AND is 4
Logical OR is 5
Negation of a -6
Negation of b -5

In [93]:
#COMPARISON
print("check if a>b: ",a>b)
print("check if a<b: ",a<b)
print("check if a<=b: ",a<=b)
print("check if a>=b: ",a>=b)
print("check if a==b: ",a==b)
print("check if a!=b: ",a!=b)

check if a>b:  True
check if a<b:  False
check if a<=b:  False
check if a>=b:  True
check if a==b:  False
check if a!=b:  True

In [95]:
x='python data science' #identify operation
print('z' is not x)
print('D' in x) #membership
v='Republic INDIA' #identity operation
print(v is x) # here v is not identical to x,so it is false
print('INDIA' in v)
print('india' in v)

True
False
False
True
False

In [102]:
#LOOPING STATEMENTS
r1=range(20,201,10)
for i in r1:
    print(i,end=' ')

20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

In [116]:
#if-else
age=15
if(age>=18):
    print('valid for voting')
    print('HI calicut')
    print('Data science')
else:
    print('Minor still')
    print('HI calicut')
    print('Data science')

Minor still
HI calicut
Data science

In [121]:
#if-elif statements

def score(marks): #udf
    
    if(marks>=90):
        print("Grade A+")
    elif(marks>=75):
        print("Grade A")
    elif(marks>=55):
        print("Grade B+")
    elif(marks>=35):
        print("Grade c")
    else:
        print("Failed.....")
        
print(score(56))

Grade B+
None

In [123]:
print(score(22))

Failed.....
None

In [126]:
#while loop

counter=1
while counter<5:
    print("Inside loop printing",counter)
    counter+=1
    if(counter==5):
        print("control inside if")
else: print("control is in else clause")

Inside loop printing 1
Inside loop printing 2
Inside loop printing 3
Inside loop printing 4
control inside if
control is in else clause

In [128]:
var1=5
var1=var1+1
print(var1)

var2=5
var2+=1 #asnmt
print(var2)

6
6

In [131]:
#for break stmt
for val in "python and py spark":
    if val=='s':
        break
    print(val)
print("INDIA")
print("end of the statement")

p
y
t
h
o
n

a
n
d

p
y

INDIA
end of the statement

In [133]:
#continue
var=10
while var>0:
    var-=1
    if var==6:
        continue
    print("Current position:", var)
print("Good luck")

Current position: 9
Current position: 8
Current position: 7
Current position: 5
Current position: 4
Current position: 3
Current position: 2
Current position: 1
Current position: 0
Good luck

In [134]:
#pass statement
for letter in 'python and anaconda':
    if letter=='c':
        pass
        print("statament inside pass ")
    print("Current letter=",letter)
print("Out of the loop")

Current letter= p
Current letter= y
Current letter= t
Current letter= h
Current letter= o
Current letter= n
Current letter=
Current letter= a
Current letter= n
Current letter= d
Current letter=
Current letter= a
Current letter= n
Current letter= a
statament inside pass
Current letter= c
Current letter= o
Current letter= n
Current letter= d
Current letter= a
Out of the loop